:root {
    --bg-primary: #d5ffcb;
    --bg-secondary: #c4deff;
    --primary: #729e8f;
    --primary-light: #8bb89c;
    --form-shadow-color: #00000022;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, var(--bg-primary), var(--bg-secondary));
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 8px 8px 32px 8px var(--form-shadow-color);
}

form h2{
    color: var(--primary);
    margin-bottom: 32px;
    text-transform: uppercase;
}

form input, form button {
    margin:  16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    transition: all 0.2s;
}

form input {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: var(--primary);
    font-weight: bold;
}

form input::placeholder {
    color: var(--primary-light);
    font-weight: normal;
}

form input:focus {
    outline: none;
    box-shadow: 0px 0px 8px var(--primary-light) inset;
}

form button, form input[type="submit"] {
    padding: 8px 32px;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
}

form button:hover, form input[type="submit"]:hover  {
    background-color: var(--primary-light);
}

main {
    flex: 1;
}

header, footer {
    background-color: var(--primary-light);
    padding: 32px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}